<nav class="navbar"></nav>
Hello, {{ helloWorldTutorial }} 1
<button [disabled]="isDisabled" type="button">{{ myButton }}</button>
<img [ngSrc]="angularImage" width="100" height="100" alt="angular image"/>

<div [style.background-color]="bgColor">
  <h2 [style.color]="titleColor">Title 2</h2>
  <p [style]="descriptionStyle">Description</p>
</div>

<div>
  <h3 [class.textColor]="redText == 'abcd'">Title 3</h3>
  <div>
    <button (click)="decrementCounter()">Decrement</button>
    <button (click)="incrementCounter()">Increment</button>
  </div>
  <p>Counter : {{ counter }}</p>
  <input [(ngModel)]="inputText" placeholder="Enter Text" type="text" name="" id="">
  <p>You entered: {{ inputText }}</p>
</div>

<div [ngClass]="classes">
  {{ message }}
</div>

<div class="color-box" [ngStyle]="{'background-color': selectedColor}">
  overwrites css
</div>
{{ directivesTitle }}
<!--basic if statements-->
<div *ngIf="isLoggedIn">Welcome, {{ username }}</div>
<div *ngIf="!isLoggedIn">Please login</div>
<div *ngIf="isLoggedIn == false">Welcome, {{ username }}</div>
<!--ngIf with operators-->
<div *ngIf="isLoggedIn || check">Logged in</div>

<div *ngIf="isLoggedIn; else loggedOut">Welcome back, {{ username }}</div>
<ng-template #loggedOut>please login</ng-template>

<!--String array, for "each" loop -->
<ul>
  <li *ngFor="let name of names; let i = index">{{ i }} : {{ name }}</li>
</ul>

<!--Switch Statement-->
<div [ngSwitch]="grade">
  <p *ngSwitchCase="'A'">Excellent</p>
  <p *ngSwitchCase="'B'"> Good</p>
  <p *ngSwitchCase="'C'">Bad</p>
  <p *ngSwitchDefault>Unknown</p>
</div>

{{ controlFlowTitle }}

<div>
  @if (a > b) {
    {{ a }} is greater than {{ b }}
  } @else if (b > a) {
    {{ a }} is less than {{ b }}
  } @else {
    {{ a }} equals {{ b }}
  }

</div>

<div>
  <!--for each loop-->
  @for (item of items; track item.id; let i = $index){
    <p>index: {{i}} = {{item.name}}</p>
  }
</div>
