.navbar{
  background-color: #fff6df;
  top: 0;
  width: 100vw;
  height: 10vh;
}
.textColor{
  color: red;
}

.danger{
  background-color: red;
  color: white;
}

.text-size{
  font-size: 40px
}

.color-box{
  width: 100px;
  height: 100px;
  background-color: pink;
}

