Hello, {{ title } 1}
<button [disabled]="isDisabled" type="button" >{{ myButton }}</button>
<img [ngSrc]="angularImage" width="100" height="100" alt="angular image" />

<div [style.background-color]="bgColor">
  <h2 [style.color]="titleColor">Title 2</h2>
  <p [style]="descriptionStyle">Description</p>
</div>

<div>
  <h3 [class.textColor]="redText == 'abcd'">Title 3</h3>
  <div>
    <button (click) ="decrementCounter()">Decrement</button>
    <button (click) ="incrementCounter()">Increment</button>
  </div>
  <p>Counter : {{ counter }}</p>
  <input [(ngModel)]="inputText"  placeholder="Enter Text" type="text" name="" id="">
  <p>You entered: {{ inputText }}</p>
</div>

<div [ngClass]="classes">
  {{message}}
</div>

<div class="color-box" [ngStyle]="{'background-color': selectedColor}">
  overwrites css
</div>
